*{
	margin: 0;
	padding: 0;
}
.error{
	color: red;
}
li{
	list-style: none;
}

.table>:not(:last-child)>:last-child>*{
	border-bottom-color: #e3e6f0;
}
.table.dataTable.no-footer{
	border-bottom: none;
}
